.hide {
  display: none;
}

.hide-side {
  transform: translateX(100%);
}

@media (max-width: $media-query-medium) {
  .hide {
    display: none !important;
  }
  
  .divider {
    display: none;
  }
}
