:root {
  --color-dark-grey: #676767;
  --color-very-dark-grey: #444;
  --color-light-grey: #D9D9D9;
  --color-very-light-grey: #EEE;
  --color-light-blue: #5289F5;
  --color-light-blue-hover: #3976f1;
  --color-light-red: #EF3434;
  --color-light-green: #2CC432;
  --color-light-green-hover: #26A62A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%; /* from 16px to 10px. so that 1rem = 10px */
  color: var(--color-dark-grey);
}

body { 
  background-color: var(--color-light-grey);
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1, ul, p {
  margin: 0;
}

.header {
  margin-bottom: 1rem;
}

.nav {
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 1rem;
  max-width: 1400px;
  border-bottom: 1px solid var(--color-dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav__list div {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link,
.nav__item,
.form__btn {
  padding: 1.25rem 2.5rem;
  border: 0;
  border-radius: 5rem;
  font-size: 1.4rem;
  color: var(--color-very-light-grey);
}

.home__login-link,
.nav__item-login,
.form__btn-login {
  background-color: var(--color-light-blue);
}

.home__login-link:hover,
.nav__item-login:hover,
.form__btn-login:hover {
  background-color: var(--color-light-blue-hover);
}

.home__signup-link,
.nav__item-signup,
.form__btn-signup {
  background-color: var(--color-light-green);
}

.home__signup-link:hover,
.nav__item-signup:hover,
.form__btn-signup:hover {
  background-color: var(--color-light-green-hover);
}

.nav__site-title {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-very-dark-grey);
}

.container {
  max-width: 1400px;
  margin: 2rem auto;
}

.home {
  margin-top: 4rem;
  max-width: 50%;

  display: flex;
  flex-direction: column;
  gap: 3rem
}

.home__title {
  font-size: 3rem;
  color: var(--color-very-dark-grey)
}

.home__description {
  font-size: 2rem;
}

.home__link-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.home__link-container a {
  width: 50%;
  text-decoration: none;
  text-align: center;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 300px;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

.form h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--color-very-dark-grey);
}

.form__btn {
  margin-top: 1rem;
  cursor: pointer;
}

.form__divider {
  margin-top: -2rem;
  border-bottom: 1px solid var(--color-very-dark-grey);
}

.form__row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__row label {
  font-size: 1.4rem;
}

.form__input-text {
  padding: 1rem;
  border: 1px solid var(--color-very-dark-grey);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-family: inherit;
}

.form__input-text:focus {
  outline: none;
  border: 2px solid var(--color-light-blue);
}

.books {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.books__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  justify-items: center;
}

.books__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.books__add {
  width: 100%;
}

.books__item {
  max-height: 150px;
  border: 1px solid #000;
}